<!-- Scripts -->
<script src="/dist/js/jquery.min.js"></script>
<script src="/dist/js/jquery.dropotron.min.js"></script>
<script src="/dist/js/skel.min.js"></script>
<script src="/dist/js/util.min.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/dist/js/main.min.js"></script>
<!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
NOTE: These should be minified in a build script -->
<script type="text/javascript" src="/dist/js/jquery.min.js"></script>
<!-- For file uploading. Remove if file upload not necessry -->
<script type="text/javascript" src="/dist/js/dropzone.min.js"></script>
<!-- Turbo CDN. Better to use CDN than to store locally. -->
<script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>
<!-- Your app specific code -->
<script type="text/javascript" src="/dist/js/app.min.js"></script>