<section id="four" class="wrapper style4 special">
					<div class="container 75%">
						<header class="major">
							<h2>Sedarcu cursus erat blandit sit<br />
							egestas viverra</h2>
						</header>
						<form method="post" action="#">
							<div class="row uniform 50%">
								<div class="6u 12u(mobilep)"><input type="text" name="name" id="name" placeholder="Name" /></div>
								<div class="6u 12u(mobilep)"><input type="email" name="email" id="email" placeholder="Email" /></div>
							</div>
							<div class="row uniform 50%">
								<div class="12u"><textarea name="message" id="message" placeholder="Message" rows="8"></textarea></div>
							</div>
							<div class="row uniform">
								<div class="12u">
									<ul class="actions">
										<li><input type="submit" value="Send Message" /></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
</section>
