<section id="three" class="wrapper style3">
					<div class="container">
						<div class="row">
							<div class="4u 12u(narrow)">
								<section class="image-feature">
									<a href="#">
										<header>
											<h3>Magna etiam</h3>
										</header>
										<span class="image fit"><img src="/dist/img/pic02.jpg" alt="" /></span>
										<footer>
											<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia pulvinar.</p>
										</footer>
									</a>
								</section>
							</div>
							<div class="4u 12u(narrow)">
								<section class="image-feature">
									<a href="#">
										<header>
											<h3>Ipsum feugiat</h3>
										</header>
										<span class="image fit"><img src="/dist/img/pic03.jpg" alt="" /></span>
										<footer>
											<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia pulvinar.</p>
										</footer>
									</a>
								</section>
							</div>
							<div class="4u 12u(narrow)">
								<section class="image-feature">
									<a href="#">
										<header>
											<h3>Arcu phasellus</h3>
										</header>
										<span class="image fit"><img src="/dist/img/pic04.jpg" alt="" /></span>
										<footer>
											<p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia pulvinar.</p>
										</footer>
									</a>
								</section>
							</div>
						</div>
					</div>
</section>