<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}
	<body>
		<div id="page-wrapper">
			<!-- Header -->
				<header id="header">
					<h1><a href="/" class="icon fa-tint">Catalyst</a></h1>
					{{>nav}}
				</header>

			<!-- Banner -->
			{{>banner}}

			<!-- One -->
			{{>section_1}}

			<!-- Two -->
			{{>section_2}}

			<!-- Three -->
			{{>section_3}}

			<!-- Four -->
			{{>section_4}}
			<!-- Footer -->
			{{>footer}}
		</div>
</body>
{{>scripts}}
</html>
